<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.earlyword.mapper.MemberMapper">
    <select id="findByEmail" resultType="com.earlyword.domain.Member">
        SELECT * FROM Member WHERE email = #{email}
    </select>
</mapper>