<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earlyword.mapper.ItemMapper">
    <select id="findById" parameterType="Long">
        select * from item where item_number = #{itemNumber}
    </select>

    <insert id="save" parameterType="com.earlyword.domain.Item">
        insert into item (item_name, item_price)
        values (#{itemName}, #{itemPrice})
    </insert>

</mapper>